### Tizen
# Tizen project folders
.*_delta*
.build*
.settings
.sign*
Debug
Release
### Tizen project files
*signature*.xml
*.wgt
### Studio files
.package-stamp
.cproject
.tproject
.project
.exportMap
crash-info
SA_Report

*.swp
